/* button:active {
  transform: scale(0.8);
}

.btn-reserve {
  background-color: #00f;
  color: #fff;
  border: unset;
  padding: 1%;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reserve-cancel {
  background-color: #fff;
  color: #808080;
  border: 2px solid #808080;
  padding: 1%;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reserve-mission {
  background-color: unset;
  font-size: 14px;
  font-weight: 600;
  color: #808080;
  border: 2px solid #808080;
  padding: 3%;
  border-radius: 5px;
  min-width: max-content;
  cursor: pointer;
}

.btn-reserve-mission-cancel {
  background-color: unset;
  font-size: 14px;
  font-weight: 600;
  color: #f00;
  border: 2px solid #f00;
  padding: 3%;
  border-radius: 5px;
  min-width: max-content;
  cursor: pointer;
}

.cancel {
  border-color: #f00 !important;
} */
